/* RiskContingencyDashboard.css */
/* Elite table, hover, scroll, highlight styling for CourtEvo Vero */

table {
  border-collapse: collapse;
  width: 100%;
  font-family: 'Segoe UI', sans-serif;
  overflow: hidden;
}

th, td {
  padding: 10px 10px;
  text-align: left;
}

tbody tr:hover {
  background: #FFD70033;
}

::-webkit-scrollbar-thumb {
  background: #FFD70099;
  border-radius: 7px;
}
::-webkit-scrollbar {
  width: 8px;
  background: #232a2e;
}
